parameters:
    level: 5
    paths:
        - Signex
        - index.php
    # If you aren't using Composer yet, PHPStan needs to 
    # manually "discover" these files.
    scanDirectories:
        - Signex/Lib
